p1 {
    font-family: 'Fira Code', monospace;
}

.top-bar h1{
    color: #7878ff;
    font-family: 'Fira Code', monospace;
    font-size: 1.6em;
    flex: auto;
    margin-left: 2%;
    line-height: 250%;
    margin-right: 40%;

}

.top-bar p1{
    color: #b0b0b8;
    font-family: 'Fira Code', monospace;
    font-size: 0.9em;
    position: fixed;
    margin-top: -4em;
}

.top-bar .disc {
    right: 10em;
    flex: auto;
}
.top-bar .faq {
    right: 4em;
}
.top-bar .work {
    display: flex;
    justify-content: center;

}

body{
    background-color: #191919;
}

.top-bar {
    height: 4em;
    background-color: #252525;

}

.text-under {
    color: #d2d2db;
    font-family: 'Fira Code', monospace;
    font-size: 0.9em;
    text-align: center;
    margin-top: -3.5em;
    line-height: 10em;
}

.logo_under img {
    display: block;
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.6em;
}

.Questions p1{
    color: #d2d2db;
    position: absolute;
    font-size: 130%;
    left: 20%;
    right: 20%;
    transform: translate(0%);
    line-height: 1.6em;
}

.Questions {
    background-color: #252525;
    height: 30em;
    margin-left: 5%;
    margin-right: 5%;
}

.empty_space {

    height: 200px;
}

.bottom_stuff p1{
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    color: #d2d2db;
}

#cf {
  }
  
  #cf img {
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
    #cf img.top{
        margin-top: -4em;
    }
  #cf img.top:hover {
    opacity:0;
  }